<footer id="layout-footer">
    <div>
        <p>
            &#169; trackifyme | Saumya Singh &nbsp; 
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (locals.user){ %>
                <li>
                    <a href="/habits/dashboard">Daily Dashboard</a>
                </li>
                <li>
                    <a href="/habits/dashboard-weekly">Weekly Dashboard</a>
                </li>
                <% } %>
                
            </ul>
        </nav>
    </div>
</footer>