
<% if(locals.user) { %>
    <h1> 
        Welcome, <%= locals.user.name %> ! <br> Start tracking your habits now !
    </h1>

        <%  } else { %>
        <h1> 
            Welcome, User !
            <br>
            Please <a href = "/users/sign-in">Sign in </a>  or <a href = "/users/sign-in">create a new account </a> to start tracking your daily habits !
        </h1> 
     <%  }  %>