<link rel="stylesheet" href = "/css/forms.css">
<div class="container mt-5">
  <div class="row mt-3">
      <div class="col-md-6 m-auto">
          <div class="card card-body">
              <h1 class="text-center">
                Reset Password 
              </h1>

        <form action = "/reset-password/update-password" method = "post">
        <input type="hidden" name="token" value="<%= accessToken %>">

        <div class="d-grid gap-2 col-8 mx-auto mt-3">

          <input type="password" 
          name="password"
          placeholder="Enter your Password"
          class = "form-input mt-2"
          required>

        </div>

        <div class="d-grid gap-2 col-8 mx-auto mt-3">

            <input type="password" 
            name="confirmPassword"
            placeholder="Confirm Password"
            class = "form-input mt-2"
            required>
  
        </div>

        <div class="d-grid gap-2 col-3 mx-auto mt-3">

          <button class="btn color mt-3 rounded-pill" type="submit" style="font-size: 1.3rem; white-space: nowrap;">Submit</button>

        </div>
       
       </form> 
        </div>
    </div>
  </div>
</div>
    
    
      
      







































   