<link rel="stylesheet" href = "/css/forms.css">
<h1 id = "page-title">
    Reset Your Password
</h1>
<form action = "/reset-password/update-password" method = "post">
    <input type="hidden" name="token" value="<%= accessToken %>">
    <input type = "password" placeholder="Password" name="password">
    <input type = "password" placeholder=" Confirm Password" name="confirmPassword">
    <input type="submit" value = "Submit" id = "action-button"> 
</form>