<link rel="stylesheet" href = "/css/forms.css">
<h1 id = "page-title">
    Update your Password
</h1>

<form action = "/users/update-password" method="post">
    <input type="password" name="old_password" placeholder="Old Password" required>
    <input type="password" name="new_password" placeholder="New Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit" id = "action-button">Update Password</button>
    <a href="/reset-password">Forgot Password ?</a>
   
      
      
</form>