<div>
    Hi, <%= user.name %>
    <br>
    Please click <a href = "https://trackifyme.live/reset-password/access-token/<%=ResetPasswordToken.accessToken %>"> here</a> to reset your password !
    <br>
    Thankyou !
</div>