<p>
    Hi, <%= user.name %> <br>
    Welcome to trackifyme ! 
    <br>
    <b>Feeling lazy ?</b>
    Start tracking your daily habits at this very moment with trackifymeand and take your productivity to the next level !
</p>
<p>
    Thankyou, Have a productive day ahead !
</p>
