<p>
    Hi, <%= user.name %> <br>
    Your password on my Authentication App, has just been updated. <br>
    Please secure your account by clicking on Secure your account below , if this action was not performed by you. <br>
    <br>
    <center> <a href = "https://authsys.live/reset-password" > <b> Secure Your Account </b></a> </center>
</p>
<p>
    Kindly ignore this mail, if it was you. <br>
    Thankyou. 
 </p>