#page-title{
  margin-top: 9%;
}
.color{
  background-color: rgb(7, 85, 103);
  color: white;
  border: none;
}
.color:hover{
  background-color: white;
  color: rgb(7, 85, 103);
  border: 2px solid rgb(7, 85, 103);
}

.lead .r-link{
  text-decoration: none;
  color: rgb(7, 85, 103);
}
.form-input{
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-input:focus{
  outline: none; 
}
    
    
    
    
    
    
    
    
    