body {
    margin: 0;
    text-align: center;
   
}
body #layout-main {
    height: 100%;
}
a:link {
    color: rgb(7, 85, 103);
    text-decoration: none;
}
a:visited {
    color: rgb(7, 85, 103);
    text-decoration: none;
}
a:hover {
    color: rgb(7, 85, 103);
    cursor: pointer;
    text-decoration: none;
}
a:active {
    color: rgb(7, 85, 103);
    text-decoration: none;
}
.delete {
      height: 28px;
      padding: 5px 0px;
      border-radius: 3px;
  }
.delete:hover {
    background: #f2f2f2;
    cursor: pointer;
}

